.home-container {
    text-align: center;
    padding: 50px;
  }
  
  .home-header {
    margin-bottom: 30px;
  }
  
  .home-header h1 {
    font-size: 36px;
    color: #333;
  }
  
  .home-header p {
    font-size: 18px;
    color: #777;
  }
  
  /* .cta button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .cta button:hover {
    background-color: #0056b3;
  } */
  
  footer {
    margin-top: 40px;
    font-size: 14px;
    color: #aaa;
  }
  